# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# User Ingore
#models/
bin/
#data/
datasets/
external/caffe_try
external/CaffeMex

external/caffe/data/*
external/caffe/models/*
*.caffemodel
*.solverstate
*.binaryproto
*leveldb
*lmdb
*.out

# build, distribute, and bins (+ python proto bindings)
external/caffe/build
external/caffe/.build_debug/*
external/caffe/.build_release/*
external/caffe/distribute/*
*.testbin
*.bin
external/caffe/python/caffe/proto/
external/caffe/cmake_build
external/caffe/.cmake_build

output/
imdb/cache
*.caffemodel
*.mat
*.m~
*.prototxt~
local/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
